body{
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
  box-sizing: border-box;
}

.sidebar {
  height: 100%;
  width: 250px;
  max-width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #454CF0;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar h1{
  font-size: 30px;
  padding: 0 8px 0 16px;
  color: #fff;
}

.sidebar img{
  padding: 15px 8px 0 45px;
}

.sidebar a img{
  padding: 15px 5px 15px 10px;
  width: 25px;
}

/* Style sidebar links */
.sidebar a {
  padding: 0 8px 0 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

/* Style links on mouse-over */
.sidebar a:hover {
  background-color: #3337a9;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.content {
  margin-left: 250px; /* Sesuaikan margin kiri dengan lebar sidebar */
  padding: 0 2%;
}

/* Style the top navigation bar using flexbox */
.topnav {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 1.5%; /* Sesuaikan padding sesuai kebutuhan */
  background-color: #fff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav p {
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.topnav img {
  width: 70px;
  max-width: 100%;
}


span{
  color: #0D1282;
}

.content h6{
  background-color: #454CF0;
  margin-bottom: -10px;
  margin-top: 1px;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 15px;
  color: #fff;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.content h6:hover {
  background-color: #3337a9;
}


/* Style for the hr element */
hr {
  margin-top: -10px; /* Atur margin top sesuai kebutuhan */
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Styling for the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table img{
  width: 70px;
}

/* Style for table header row */
table th {
  background-color: #3337a9;
  color: #fff;
  padding: 8px;
  text-align: left;
}

/* Style for table data rows */
table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Add background color to alternate rows for better readability */
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for table actions links */
table a {
  text-decoration: none;
  margin-right: 10px;
  color: #0D1282;
  font-weight: bold;
}

/* Style for table actions links on hover */
table a:hover {
  color: #3337a9;
}
