body{
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
  text-decoration: none;
  background-image: url('../img/Rectangle\ 2.png');
  box-sizing: border-box;
  background-repeat: no-repeat;
}

/* Add a black background color to the top navigation */
.topnav {
    padding: 1.5% 2% 0 2% ;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav p {
    float: left;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-style: bold;
    font-weight: bold;
  }

  .topnav img {
    float: left;
    width: 50px;
    max-width: 100%;
  }

  span{
    color: #0D1282;
  }
  
  .hero{
    display: flex;
    text-transform: capitalize;
    min-height: 80vh;
    max-height: 100%;
    align-items: center;
    font-style: bold;
    padding: 0 2%;
  }
  

  .content button span{
    color: #fff;
  }

  .content h3 {
    font-size: 30px;
  }

  .content h1 {
    font-size: 50px;
  }

  .content-image{
    display: flex;
    padding-left: 80px;
  }
  
  .content-image img{
    width: 650px;
    padding-right: 5%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 3% 2% 0 2%;
    min-height: 70vh;
  }

  .title{
    color: #0D1282;
    text-transform: capitalize;
    font-size: 30px;
    font-style: bold;
  }

/* Float four columns side by side */
  .column {
    font-size: 25px;
    float: left;
    height: 25%;
    width: 20%;
    margin-left: 15%;
    padding: 0 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    background-color: #E0DBFF;
  }

/* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}

/* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .form a{
    background-color: #0D1282;
    float: left;
    padding: 15px 20px ;
    margin: 3% 0 0 43%;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.form a:hover{
    background-color: #080d5b;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #0D1282;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #0D1282;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  overflow: hidden;
}

/* Modal Content/Box */
.modal-content {
  padding-bottom: 3%;
  background-color: #fefefe;
  margin: 1% auto 0 auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  height: 60%;
  width: 50%; /* Could be more or less, depending on screen size */
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  footer {
    /* position: fixed; */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0D1282;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    max-width: 100%;
}