body{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
  background-image: url('../img/Rectangle\ 2.png');
  box-sizing: border-box;
  background-repeat: no-repeat;
}

  .topnav {
      padding: 1.5% 2% 0 2% ;
      overflow: hidden;
    }

    span{
      color: #454CF0;
    }
    
    /* Style the links inside the navigation bar */
    .topnav p {
      float: left;
      color: #000;
      text-align: center;
      text-decoration: none;
      font-size: 17px;
      font-style: bold;
      font-weight: bold; /* Use 'font-weight' instead of 'font-style' */
    }

    .topnav img {
      padding-top: 5px;
      float: left;
      width: 50px;
      max-width: 100%;
    }

/* Style the login container */
.login {
  background-color: #454CF0;
  margin-top: 20px; /* Add some space between the content above and the login container */
  padding: 20px; /* Add padding to the login container */
  border-radius: 5px; /* Add rounded corners to the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  width: 80%; /* Set the width of the container */
  max-width: 400px; /* Add a maximum width */
  color: #fff; /* Text color inside the container */
}
/* Style the login form elements */
.form-login label {
  display: block;
  margin-bottom: 10px; /* Add space between labels and inputs */
  text-align: left; /* Align label text to the left */
  font-weight: bold; /* Make the label text bold */
}

/* Style the login form inputs */
.form-login input[type="text"],
.form-login input[type="password"] {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
}

/* Style the login form submit button */
.form-login input[type="submit"] {
  background-color: #C2E0F6;
  color: #454CF0;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Center the submit button */
}

.form-login input[type="submit"]:hover {
  background-color: #d1e6f5;
}
